/*//////////////////////LAYOUT USERS////////////////////////*/

.container{
	display:flex;
	background: whitesmoke;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	border-style: solid;
	border-width: 3px;
}

header{
	background: grey;
	border-bottom: 3px solid;
}

h1 img {
	height: 100px;
}

nav {
	display:flex;
	padding:0.1% 6%;
	justify-content: space-between;
	align-items: center;
}

.nav_links{
	flex: 1;
	text-align: right;
}

.nav_links ul li{
	list-style: none; 
	display: inline-block;
	padding: 8px 12px;
	position:relative;

}

.nav_links ul li a{
	color:black;
	text-shadow: 1.5px 1.5px 2px black;
	text-decoration: none;
	font-size: 18px;
	font-family: Verdana;
  	transition: background-color 0.3s ease;

}

.nav_links ul li a:hover {
	background-color: red; 
  	color: white;
}

nav .fa{
	display: none;
}


@media(max-width:700px){

	.nav_links ul li{
		dsiplay:block;
	}
	.nav_links{
		position: absolute;
		background: red;
		height: 35vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.7s;
	}
	nav .fa{
		display: block;
		color:black;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
}


.site-footer {
  background-color: grey;
  color: black;
  padding: 40px 20px;
  font-size: 14px;
  border-top: 3px solid;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand,
.footer-links,
.footer-contact,
.footer-social {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a,
.footer-contact p,
.footer-social a {
  color: black;
  text-decoration: none;
}

.footer-social img {
  width: 24px;
  margin-right: 10px;
}
